@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap ');


:root{
    --Branco: #ffffff;
    --Amarelo_ouro: hsl(47, 98%, 51%);
    --Preto: 100%: #000000;
    --Preto: 90%: #202226;

}
body{
    margin: 0;
    padding: 0;
    font-family:'Montserrat';

}
#banner{
    width: 100%;
    height: 56vw;
    background-image: url('/img/header.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
#mensagem{
    margin-right: 50%;
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 20%;

}
#mensagem h1{
    color: var(--Branco);
    font-size: 52px;
    text-align: left;
}
#mensagem p1{
    color: var(--Branco);
    font-size: 30px;

    
}
#mensagem p2{
    color: var(--Branco);
    font-size:25px ;
    
}
#cx_email{
    height: 30px;
    width: 100%;
    margin-top: 50px;
}
.input_aumentado{
    width: 100%;
    height: 170%;
    font-size: 150%;
    text-align: center;
}
.btn{
    background: var(--Amarelo_ouro);
    width: 102%;
    height:100px;
    font-size: 170%;
    margin-top: 50px;
    font-weight:bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;

    
}
.btn:hover{
    background:#ffee01;
    transform: scale(1.1);
}
#secao_01{
    height: 440px;
    width: 100%;
    background-color:#202226;
    margin-top: -20px;

}
.imagem{
    position: relative;
    left: 22%;
    top: 22%;
}

#conteudo_secao_01 h1 {
    font-size: 41px;
    margin-left: 35%;
    text-align:left;
    color: var(--Branco);
    margin-top: -100px;
    margin-right: 20%;
    width: 45%;

}
.destaque{
    color: var(--Amarelo_ouro);

}
#conteudo_secao_01 p{
    margin-left: 35%;
    margin-right: 20%;
    font-size: 30px;
    color: var(--Branco);

}
#secao_02{
    height: 440px;
    width: 100%;
    background-color:#18191b;
    margin-top: -20px;

}
#conteudo_secao_02 h1 {
    font-size: 41px;
    margin-left: 35%;
    text-align:left;
    color: var(--Branco);
    margin-top: -130px;
    margin-right: 20%;
    width: 45%;

}
#conteudo_secao_02 p{
    margin-left: 35%;
    margin-right: 20%;
    font-size: 30px;
    color: var(--Branco);

}
.imagem2{
    position: relative;
    left: 22%;
    top: 22%;

}
#secao_03{
    height: 440px;
    width: 100%;
    background-color:#202226;
    margin-top: -20px;
    margin-bottom: 35px;

}
#conteudo_secao_03 h1 {
    font-size: 41px;
    margin-left: 35%;
    text-align:left;
    color: var(--Branco);
    margin-top: -550px;
    margin-right: 20%;
    width: 45%;

}
#conteudo_secao_03 p{
    margin-left: 35%;
    margin-right: 20%;
    font-size: 30px;
    color: var(--Branco);
    margin-bottom: 120px;

}
.imagem3{
    position: relative;
    left: 22%;
    bottom: 380px;

}
#secao_04{
    height: 450px;
    width: 100%;
    background-color:#18191b;
    margin-top: 0px;
    margin-bottom: -20px;
    
}
#conteudo_secao_04 h1 {
    font-size: 41px;
    margin-left: 35%;
    text-align:left;
    color: var(--Branco);
    margin-top: -70px;
    margin-right: 20%;
    width: 45%;

}
#conteudo_secao_04 p{
    margin-left: 35%;
    margin-right: 20%;
    font-size: 30px;
    color: var(--Branco);

}
.imagem4{
    position: relative;
    left: 22%;
    bottom: -130px;

}
#secao_05{
    display: flex;
    width: 100%;
    height: 900px;
    margin: auto;
    margin-top: 8px;
    background-color:#202226;
    padding-top: 30px;
   
    
}
#imagem_05{
    background-image: url(/img/autora.png);
    width: 100%;
    height: 55%;
    border-radius: 200px 200px 200px 200px;
    margin-left: 240px;
    margin-top: 180px;
    float: left;
    
   
    
}    
#conteudo_secao_05{
    text-align: left;
    font-size: 22px;
    margin-top: 150px;
    
    
}
#conteudo_secao_05 h1{
    font-size: 42px;
    width: 600px;
    color: var(--Branco);
    margin-right: 450px;
    margin-left: 150px;

}
#conteudo_secao_05 p{
    font-size: 26px;
    color: var(--Branco);
    margin-right: 450px;
    margin-left: 150px;
    
}
#secao_06{
    display: flex;
    width: 100%;
    height: 900px;
  
    background-color:#18191b;
    padding-top: 30px;
}  
#conteudo_secao_06{
    margin-right: 55%;
    margin-left: 350px;
    margin-top: 90px;
}
#conteudo_secao_06 h1{
    color: white;
    text-align: left;
    font-size: 45px;
}
.btn2{
    background: var(--Amarelo_ouro);
    width: 90%;
    height:100px;
    font-size: 150%;
    margin-top: 50px;
    font-weight:bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin-top: 200px;
}
.btn2:hover{
    background:#ffee01;
    transform: scale(1.1);
}
.imagem6 {
    margin-left: 60%; 
    width: 250%; 
    height: 110%;
    margin-top: -750px;
}
#copyright{
    width: 200%;
    color: var(--Branco);
    margin-left: 50%;
}
#copyright a{
    color: var(--Amarelo_ouro);
    text-decoration: none;
}